.body {
  padding-top: 30px;
}

.container {
  position: relative;
}

.container .img {
  position: relative;
  box-shadow: 20px 20px 50px rgba(0, 0 , 0 , 0.5);
  border-radius: 15px;
}

.container .card {
  position: relative;
}

.container .card .content {
  text-align: center;
  transition: 0.5s;
}

.container .card .content h3 {
  font-size: 1.6em;
  color: #fff;
}

.container .card .content p {
  font-size: 1em;
  color: #fff;
  font-weight: 300;
}

.container .card .content a {
  position: relative;
  display: inline-block;
  padding: 8px 20px;
  margin-top: 15px;
  background: orange;
  color: #000;
  border-radius: 20px;
  text-decoration: none;
  font-weight: 500;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}
